<!-- sticky bar -->
<footer id="about" class="navbar-inverse navbar-fixed-bottom animated-header">
  <div class="container">
    <nav class="collapse navbar-collapse text-center" role="navigation">
        <i class="fa fa-angle-double-down"></i>
    </nav>
  </div>
</footer>
<!-- sticky bar -->


<!-- sitemap section -->
<footer class="animated-header">
<section id="service">
  <br><br>
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
        <div class="footer-item">
          <i class="fa fa-home fa-3x"></i>
          <h3>About Us</h3>
            <a href="#">Who We Are</a><br>
            <a href="#">Mission and Vision</a><br>
            <a href="#">Our Values</a><br>
            <a href="#">Meet the Team</a><br>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
        <div class="footer-item">
          <i class="fa fa-heart fa-3x"></i>
          <h3>Ways To Give</h3>
            <a href="#">Soap & Towel</a><br>
            <a href="#">Supporters</a><br>
            <a href="#">Start a Student Chapter</a><br>
            <a href="#">Become a Chapter Advisor</a><br>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
        <div class="footer-item">
          <i class="fa fa-bookmark fa-3x"></i>
          <h3>Resources</h3>
            <a href="#">Homelessness</a><br>
            <a href="#">Browse Campaigns</a><br>
            <a href="#">Locate Homeless Shelter</a><br>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
        <div class="footer-item">
          <i class="fa fa-share fa-3x"></i>
          <h3>Connect</h3>
            <a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a>
            <a href="#"><i class="fa fa-twitter fa-3x"></i></a><br>
            <a href="#"><i class="fa fa-skype fa-3x"></i></a>
            <a href="#"><i class="fa fa-dribbble fa-3x"></i></a>
            <a href="#"><i class="fa fa-youtube fa-3x"></i></a>
        </div>
      </div>

    </div>
  </div>
  <br><br>
  </footer>
<!-- end sitemap section -->


<!-- copyright footer -->
<footer id="footer">
  <div class="container">
    <div class="row text-center">
      <div class="footer-content">
        <p>Copyright &copy; 2016 - A Fresh Start </p>
      </div>
    </div>
  </div>
</footer>
<!-- end copyright footer -->