<!-- sticky bar -->
<footer id="about" class="navbar-inverse navbar-fixed-bottom animated-header">
  <div class="container">
    <nav class="collapse navbar-collapse text-center" role="navigation">
        <i class="fa fa-angle-double-down"></i>
    </nav>
  </div>
</footer>
<!-- sticky bar -->


<!-- sitemap section -->
<footer class="animated-header footer-blue">
<section id="sitemap">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
        <div class="footer-item">
          <i class="fa fa-home fa-3x"></i>
          <h3>About Us</h3>
            <a href="about_us">Who We Are</a><br>
            <a href="mission">Mission and Vision</a><br>
            <a href="our_values">Our Values</a><br>
            <a href="meet_the_team">Meet the Team</a><br>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
        <div class="footer-item">
          <i class="fa fa-heart fa-3x"></i>
          <h3>Ways To Give</h3>
            <a href="afs_supporters">Supporters</a><br>
            <a href="student_chapter">Start a Student Chapter</a><br>
            <a href="chapter_advisor">Become a Chapter Advisor</a><br>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
        <div class="footer-item">
          <i class="fa fa-bookmark fa-3x"></i>
          <h3>Resources</h3>
            <a href="donate">Why Donate?</a><br>
            <a href="campaign">Browse Campaigns</a><br>
            <a href="locate_shelter">Locate Homeless Shelter</a><br>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
        <div class="footer-item">
          <i class="fa fa-share fa-3x"></i>
          <h3>Connect</h3>
            <a href="contact"><i class="fa fa-envelope-o fa-3x"></i></a>
            <a href="https://www.facebook.com/afreshstartcampaign"><i class="fa fa-facebook-official fa-3x"></i></a>
            <a href="https://twitter.com/afscampaign"><i class="fa fa-twitter fa-3x"></i></a>
        </div>
      </div>

    </div>
  </div>
  </section>
</footer>
<!-- end sitemap section -->


<!-- copyright footer -->
<footer id="footer">
  <div class="container">
    <div class="row text-center">
      <div class="footer-content">
        <p>Copyright &copy; 2016 - A Fresh Start </p>
      </div>
    </div>
  </div>
</footer>
<!-- end copyright footer -->