<!DOCTYPE html>
  {{> head}}
  <body id="body">
    <!-- preloader -->
    <div id="preloader">
      <div class="loader-box">
          <i class="fa fa-circle-o-notch fa-5x fa-spin"></i>
      </div>
    </div>
    <!-- end preloader -->
    {{> topbar}}

    <main class="site-content" role="main">
      {{{body}}}
    </main>

    {{> footer}}

    {{> scripts}}
  </body>
</html>
