<!-- About Us section -->
	<section id="about_us" >
		<!-- portfolio section -->
			<div class="container">
				<div class="row">
					<div class="sec-title text-center wow animated fadeInDown">
						<h2>About Us</h2>
						<p>Our Beginning</p>
						<br>
						<div class="col-md-8">					
							<p>The Soap and Towel Campaign is a national non-profit organization to promote and support homeless men, women, and children. The main support we provide is through the collection of toiletries ranging from soap, shampoo, conditioner, razors, deodorant, cough drops, etc. Founded in September of 2007, since its development the campaign has grown, our collaborators are endless, and as usual we always look to expand. The effort to donate is simple, the benefit is great. Help us, help others.</p>
							<br>
							<p>Once known as The Soap and Towel Drive, the project was founded in September of 2007 by Jazna Stannard. In collaboration with her high school’s student council in Hanover, MA the drive was slow to kick off but became a giant success. Through the years the drive created a reputation for itself and a following of avid supporters. In only a four-year period the drive had already collected over 10,000 toiletries and quite a number of supporters and collaborators in other schools in the state as well as around the country.</p>
							<br>
							<p>The Soap and Towel Drive was founded on the purpose of helping those in need. In what appears to be a little effort to give has produced great results. Toiletries ranging from soap, shampoo, conditioner, razors, deodorant, cough drops, etc. Originally donating to The Father Bills and MainSpring Homeless Shelter, located throughout Massachusetts. The shelter supports over 200 families and takes in thousands of men, women, and children every night. The Soap and Towel Drive was reinvented in 2012 to The Soap and Towel Project. With the expansion across the nation our organization needed a lift. To see an entire list of our collaborators see the collaborators page.</p>
						</div>
						<div class="col-md-4">
							<img src="/img/about_us/donations.jpg" alt="Jazna And Mr.Washington"/><br><br>
							<img src="/img/about_us/campaign.jpg" alt="Hanover High School" />
						</div>
					</div>
				</div>
			</div>
		<!-- end portfolio section -->
	</section>


	<!-- Seen on section -->
		<section class="parallax">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>As Seen On</h2>
						</div>
						<ul class="social-button">
							<li class="wow animated zoomIn"><img src="http://nebula.wsimg.com/6af8f1f3426e2252bba8da28667ee873?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1"></li>
							
							<li class="wow animated zoomIn"><img src="http://nebula.wsimg.com/c258f47e4af6dbc4981a2c97665bb84c?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1"></li>
							
							<li class="wow animated zoomIn"><img src="http://nebula.wsimg.com/123f4c4159fafad5e763ffe2f54a4408?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1"></li>
							
							<li class="wow animated zoomIn"><img src="http://nebula.wsimg.com/10d3d9084e89879131dbda8f236e36e4?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1"></li>
							
							<li class="wow animated zoomIn"><img src="http://nebula.wsimg.com/6022fba40a3e6f9d30a3031fea2ab2d2?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1"></li>
							
							<li class="wow animated zoomIn"><img src="http://nebula.wsimg.com/94a235656871ee9874abca3d7e9a217f?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1"></li>
							
							<li class="wow animated zoomIn"><img src="http://nebula.wsimg.com/e46a0fbf911bb1701a066f63eacdc404?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1"></li>
							
							<li class="wow animated zoomIn"><img src="http://nebula.wsimg.com/04b1cca9c1d6bf6f4e260104bd51a027?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1"></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	<!-- end Seen on section -->
<!-- end About Us section -->