<!-- Join Us  -->
	<section id="advocate" >

			<!-- portfolio section -->
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Become a Part of the Movement</h2>
							<p>  We at A Fresh Start know that we can not make a difference if there is not a knowledge of what is going on. Help us spread the word today on the growing problem of homelessness and how to alleviate poverty!</p>
						
					</div>
				</div>
			<!-- end portfolio section -->

			</div>
		</div>
	</section>
<!-- end Join us section -->
