<!-- Join Us  -->
	<section id="afs_supporters" >

			<!-- portfolio section -->
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Join Our Team</h2>
							<p>  A Fresh Start is always looking to expand our team and our mission to helping others. Think you have what it takes to change the world? We want you!</p>
						<p>
						  At A Fresh Start we are proud of the work we do and those that we impact. We believe that every member of our team has a key role in ensuring that we help others, no matter what their title is.
						</p>
            <p>
              Interested in learning more? Contact us below to get involved. We can't wait to have you on our team!
            </p>
					</div>
				</div>
			<!-- end portfolio section -->

			</div>
		</div>
	</section>
<!-- end Join us section -->
