<!-- Join Us  -->
  <section id="afs_supporters" >
    <div class="container">
      <div class="row">
        <div class="sec-title wow animated fadeInDown">
          <h2 class="text-center">Our Supporters</h2> 
          <p>Since its founding in 2007 A Fresh Start has benefited from several big supporters including hotels, universities, corporations, and individuals. Supporters like these have kept us going through moral support and advice along the way. These partners have made a difference in helping the homeless across the country and we want to acknowledge their efforts.</p>
          <br>
          <div class="col-md-4">
            <img src="/img/akpsi.jpg" alt="Jazna And Mr.Washington"/><br><br>
            <img src="/img/ent_logo.png" alt="Hanover High School" />
          </div>
          <div class="col-md-8">   
            <h3>Alpha Kappa Psi</h3>     
            <p>In the past few years A Fresh Start was honored to collaborate with the co-ed business fraternity Alpha Kappa Psi, working with over 70 universities throughout the country to help the homeless population.
            <br><br>
            Alpha Kappa Psi is recognized as the developer of principled business leaders. The co-ed business fraternity was established in 1904 at New York University and since it has formed over 114 chapters throughout the US, UK, and Canada</p>
            <br><br>
            <h3>Epsilon Nu Tau</h3>
            <p>In 2015 Epsilon Nu Tau hosted A Fresh Start toiletry drive amongst all the chapters in the country. We are very happy to call them family.
            <br><br>
            Epsilon Nu Tau is the Nation's first entrepreneurship fraternity. A coed, professional organization which helps students launch and maintain sustainable businesses. Formed in 2008 at the University of Dayton in Dayton, Ohio.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end Join us section -->
