<!-- Join Us  -->
	<section id="basic_necessities" >

			<!-- portfolio section -->
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Ways to Give</h2>
							<p>
								  Donate Toiletries: Toiletries are always in high demand in homeless shelters, these are but a few items in need.</p>
							</p>
							<img src="http://nebula.wsimg.com/3ecc1c0da8480a37e2cdb8166c640153?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1" alt="Basic Necessities" />
							<img src="http://nebula.wsimg.com/d139fe0d491b93d2b754a11d7601b300?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1" alt="Donate Today" />
							<p>
								Host a Drive: Have an active part in helping the homeless by having a hands-on drive in your community, your company, your church, etc. There are many ways to collect donations and we are here to help you think of them. We can help you with flyers, brochures, and helpful advice. We are here to help you!
							</p>
							<p>
								To Busy to Campaign on Your Own?
Let us put your donation to good use by purchasing toiletries in bulk for homeless shelters that have specific needs....
							</p>
					</div>
				</div>
			<!-- end portfolio section -->

			</div>
		</div>
	</section>
<!-- end Join us section -->
