<!-- Join Us  -->
	<section id="become_a_chapter_advisor" >

			<!-- portfolio section -->
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Become A Chapter Advisor</h2>
							<p>  Students of A Fresh Start would not be possible without the guidance and continued support of their advisers. If you are interested in learning more contact us today.</p>
						<img src="http://nebula.wsimg.com/127ad8bb9bce282856432ddf8283ba25?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1" alt="AFS Logo" />

            <a href="http://www.afreshstartcampaign.org/contact-us.html"></a>
					</div>
				</div>
			<!-- end portfolio section -->

			</div>
		</div>
	</section>
<!-- end Join us section -->
