<!-- Join Us  -->
  <section id="become_a_chapter_advisor" >
    <div class="container">
      <div class="row">
        <div class="sec-title text-center wow animated fadeInDown">
          <h2>Become A Chapter Advisor</h2>
          <p>Students of A Fresh Start would not be possible without the guidance and continued support of their advisers. If you are interested in learning more contact us today.</p>
          <a href="http://www.afreshstartcampaign.org/contact-us.html">        
            <img src="/img/afs_logo.png" width="360" height="360" alt="AFS Logo" />
          </a>
        </div>
      </div>
    </div>
  </section>
<!-- end Join us section -->
