<!-- Join Us  -->
  <section id="become_a_chapter_advisor" >
    <div class="container">
      <div class="row">
        <div class="sec-title text-center wow animated fadeInDown">
          <h2>Become A Chapter Advisor</h2>
          <p>Chapter Advisors serve as liaisons between A Fresh Start and student chapters.  They support student chapters by fostering connections with local shelters, facilitating events, and ensuring the maintenance of AFS standards. <br><br> Students of A Fresh Start would not be possible without the guidance and continued support of their advisers. <br>If you are interested in learning more contact us today.</p><br>
          <div class="text-center">
          <img src="/img/afs1.jpg" alt="Chapter Advisor" />
          <img src="/img/afs3.jpg" alt="Chapter Advisor" />
          <br><br>
          <a href="contact" class="btn btn-blue ">Contact Us</a>       
        </div>
      </div>
    </div>
  </section>
<!-- end Join us section -->
