<!-- Contact section -->
  <section id="contact" >
    <div class="container">
      <div class="row">
        <div class="sec-title text-center wow animated fadeInDown">
          <h2>Contact</h2>
          <p>Leave a Message</p>
        </div>

        <!-- form section -->
        <div class="col-md-7 contact-form wow animated fadeInLeft">
          <div class="status alert alert-success" style="display: none"></div>
          <form action="/contact" method="post">
            <div class="input-field">
              <input type="text" name="name" class="form-control" placeholder="Your Name...">
            </div>
            <div class="input-field">
              <input type="email" name="email" class="form-control" placeholder="Your Email...">
            </div>
            <div class="input-field">
              <input type="text" name="subject" class="form-control" placeholder="Subject...">
            </div>
            <div class="input-field">
              <textarea name="message" class="form-control" placeholder="Messages..."></textarea>
            </div>
              <button type="submit" id="submit" class="btn btn-blue btn-sweep-effect">Send</button>
          </form>
        </div>

        <div class="col-md-5 wow animated fadeInRight">
          <address class="contact-details">
            <h3>Contact Us</h3>
            <p><i class="fa fa-pencil"></i>
              A Fresh Start
              <span>134 Old Washington St</span>
              <span>Hanover, MA 02339</span>
            </p><br>
            <p><i class="fa fa-phone"></i>Phone: (781) 588-6057 </p>
            <p><i class="fa fa-envelope"></i>afreshstartcampaign@gmail.com</p>
          </address>
        </div>

      </div>
    </div>
  </section>
  <!-- end Contact section -->

  <!-- 
  <section id="google-map">
    <div id="map-canvas" class="wow animated fadeInUp"></div>
  </section>
  -->