<!-- Donate  -->
	<section id="donate" >

			<!-- portfolio section -->
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Help Change Lives With A Fresh Start</h2>
							<p>  Donate to your local homeless shelter or help build the next chapter in your local community!</p>
						<p>There are many ways to help both A Fresh Start and your local community, find out more today.</p>
            <h2>How Your Gifts Help</h2>
            <p>
              As a nonprofit organization, A Fresh Start relies on the generosity of charitable donations to support its ongoing operations and future capital expenses at the local and national level. Each gift, regardless of size, provides invaluable funding for programs that benefit homeless shelters all across the country.
            </p>

            <p>
              A little bit goes a long way and your donations mean the world to local shelters.
            </p>
            <p>
              Every little bit helps and any donation is appreciated.
            </p>
            <p>
              Donate your time to your local community through volunteer hours.
            </p>
            <p>
              Help us spread the word on the problem of homelessness and how to help.
            </p>
            <h3>Questions</h3>
            <p>
              Have a question about donating? Contact us via email afreshstartcampaign@gmail.com or call 781.588.6057 between 9:00am and 5:00pm, Monday through Friday. 
            </p>
					</div>
				</div>
			<!-- end portfolio section -->

			</div>
		</div>
	</section>
<!-- Donate -->
