<!-- Get Involved section -->
  <section id="get_involved">
    <div class="container">
      <div class="row">

        <div class="sec-title wow animated fadeInDown">
          <div class="text-center">
            <h2>Get Involved</h2>
            <h3>How to Get Involved</h3>
            <p>You can make a difference today, find our how!</p>
          </div>
          
          <br><strong>Have you graduated college?</strong> <p>Become a chapter adviser of a local university or an adviser of your alumni university.</p>
          <br><strong>Still a college student?</strong> <p>Start a chapter at your university.</p>
          <br><strong>Want to make a difference as an individual?</strong>
          <p>There are many ways you can start a drive in your community by getting local organizations on board like churches, libraries, and schools. Drop off boxes are great at your town hall, library, and local YMCA.</p>
          <br><p>We have start up kits meeting your interests whether its donating, advocating, or volunteering. We have everything you need to help make an impact in your community and in the lives of many. Contact us today to find our how you can make a difference!</p>
          <br>
          <div class="text-center"><img src="/img/support_us.jpeg" alt="Why Donate" /> </div>
        </div>

      </div>
    </div>
  </section>
<!-- end Get Involved section -->
