<!-- Get Involved section -->
	<section id="get_involved">
		<div class="container">
			<div class="row">
				
				<div class="sec-title text-center wow animated fadeInDown">
					<h2>Get Involved</h2>
					<p>how to get involved</p>
				</div>
				
				
				<div class="col-md-7 wow animated fadeInLeft">
					<p> </p>
				</div>
				
	
			</div>
		</div>
	</section>
<!-- end Get Involved section -->