<!--
Home Slider
==================================== -->
<section id="home-slider">
  <div id="slider" class="sl-slider-wrapper">
    <div class="sl-slider">
      <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
        <div class="bg-img bg-img-1"></div>
        <div class="slide-caption">
          <div class="caption-content">
            <a href="locate_shelter" class="btn btn-blue">
              <i class="fa fa-search fa-lg"></i>
              Find a Local Shelter
            </a>

            {{#unless user}}
            <a href="my_profile" class="btn btn-blue">
              <i class="fa fa-home fa-lg"></i>
              Create a Shelter Profile
            </a>
            {{/unless}}

            {{#if isProfileAdmin}}
            <a href="my_profile" class="btn btn-blue">
              <i class="fa fa-home fa-lg"></i>
              View my Shelter Profile
            </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div><!-- /slider-wrapper -->
</section>
