<!-- About Us section -->
	<section id="afs_supporters" >

			<!-- portfolio section -->
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Top Supporters</h2>
							<p>  Since its founding in 2007 A Fresh Start has benefited from several big supporters including hotels, universities, corporations, and individuals. Supporters like these have kept us going through moral support and advice along the way. These partners have made a difference in helping the homeless across the country and we want to acknowledge their efforts.</p>
						</div>
            <h2>Alpha Kappa Psi</h2>
            <img src="http://nebula.wsimg.com/f6746d0f1f20ef9cfb7d113c78fff20c?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1" alt="Alpha Kappa Psi Fraternity Logo" />
            <p>
							In the past few years A Fresh Start was honored to collaborate with the co-ed business fraternity Alpha Kappa Psi, working with over 70 universities throughout the country to help the homeless population.
 					  </p>
 						<p>
						 Alpha Kappa Psi is recognized as the developer of principled business leaders. The co-ed business fraternity was established in 1904 at New York University and since it has formed over 114 chapters throughout the US, UK, and Canada.
 				 		</p>
            <h2>Epsilon Nu Tau</h2>
            <img src="http://nebula.wsimg.com/2d1594716074b9e580e7c081d2fe9e83?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1" alt="Epsilon Nu Tau Fraternity Logo" />
            <p>
						 Epsilon Nu Tau is the Nation's first entrepreneurship fraternity. A coed, professional organization which helps students launch and maintain sustainable businesses. Formed in 2008 at the University of Dayton in Dayton, Ohio.
						</p>

            <p>
              A Fresh Start in the past year has worked amongst all the ENT chapters throughout the nation.
            </p>
            <h2>Purdue University</h2>
            <p>
              Pi Omega Chapter of Alpha Kappa Psi
            </p>
            <h2>University of Maryland</h2>
            <p>
              Omega Theta Chapter of Alpha Kappa Psi
            </p>
					</div>
				</div>
			<!-- end portfolio section -->

			</div>
		</div>
	</section>
<!-- end About Us section -->
