<!-- About Us section -->
  <section id="meet_the_team" >
    <div class="container">
      <div class="row">
        <div class="sec-title text-center wow animated fadeInDown">
        <h2>Meet the Team</h2>

          <div class="col-md-4">
            <img src="/img/team/jonathan.jpg" alt="Jonathan Goodwin" />
            <h3>Jonathan Goodwin</h3><br>
          </div>

          <div class="col-md-4">
            <img src="/img/team/jazna.jpg" alt="Jazna Stannard" />
            <h3>Jazna Stannard</h3><br>
            <img src="/img/team/sunny.jpg" alt="Sunny Yuqing Sun" />
            <h3>Sunny Yuqing Sun</h3><br>
          </div>

          <div class="col-md-4">
            <img src="/img/team/weinberg.jpg" alt="Weinberg Wen" />
            <h3>Weinberg Wen</h3><br>
          </div>

          <div class="col-md-12">
            <br><br>
            <h2 class="text-center">Join Our Team</h2>
            <p>A Fresh Start is always looking to expand our team and our mission to helping others. Think you have what it takes to change the world? We want you!</p><br>
            <p>At A Fresh Start we are proud of the work we do and those that we impact. We believe that every member of our team has a key role in ensuring that we help others, no matter what their title is.</p><br>
            <p>Interested in learning more? Contact us to get involved. We can't wait to have you on our team!</p>
          </div>

        </div>
      </div>
    </div>     
  </section>
<!-- end About Us section -->