<section id="mission_and_vision" >

    <!-- portfolio section -->
      <div class="container">
        <div class="row">
          <div class="sec-title text-center wow animated fadeInDown">
            <h2>Our Mission</h2>
            <p>It is the mission of A Fresh Start to inspire a collection of individuals to create tangible results for those living in the most impoverished communities of the United States. Through our work and dedication, we will be a catalyst for those in need of a fresh start.</p>
            <br>
            <h2>Our Vision</h2>
            <p>Our vision is to provide A Fresh Start for those who need it now, so we can create a world where it will not be needed tomorrow.</p>
            <br>
            <div class="col-md-4"><img src="/img/mission/donation1.jpeg" alt="A Person Volunteering" /></div>
            <div class="col-md-4"><img src="/img/mission/donation2.jpeg" alt="Working on Posters"/></div>
            <div class="col-md-4"><img src="/img/mission/donation3.jpeg" alt="Two Volunteers" />
            </div>
          </div>
        </div>
      </div>
    <!-- end portfolio section -->

    </div>
  </div>
</section>
<!-- end Mission and Vision section -->
