<section id="mission_and_vision" >

    <!-- portfolio section -->
<img src="http://nebula.wsimg.com/37cffda122d15172c3ecd6abe8d252f0?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1" alt="Working on Posters"/>
<img src="http://nebula.wsimg.com/8c90844e712ba252f7ab48c13ec068a8?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1" alt="A Person Volunteering" />
<img
src="http://nebula.wsimg.com/121fbc20ed657d572f331314b52d6e43?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1" alt="Two Volunteers" />

      <div class="container">
        <div class="row">

          <div class="sec-title text-center wow animated fadeInDown">
            <h2>Our Mission</h2>
            <p>It is the mission of A Fresh Start to inspire a collection of individuals to create tangible results for those living in the most impoverished communities of the United States. Through our work and dedication, we will be a catalyst for those in need of a fresh start.</p>
            <h2>Our Vision</h2>
          </div>

<p>
Once known as the Soap & Towel Campaign we have re-branded to A Fresh Start dedicated to helping homeless shelters and their residents through basic necessities, professional development, and personal financial stability.
</p>
        </div>
      </div>
    <!-- end portfolio section -->

    </div>
  </div>
</section>
<!-- end Mission and Vision section -->
