<!-- Join Us  -->
	<section id="monetary" >

			<!-- portfolio section -->
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Why Donate?</h2>
              <h3>because every little bit helps</h3>
              <img src="http://nebula.wsimg.com/c6448154b240d5d2c73395c1944d86d1?AccessKeyId=8713C1EA82C8ADDCAF25&disposition=0&alloworigin=1" alt="Did You Know?" />
							<p>  Your contribution is critical to those in need both in your local community and across the country.</p>
						<p>
						  Every $25 you give provides for hundreds of showers.
						</p>
            <p>
              $25.00 can buy 72 bars of soap and provide 432 showers
            </p>
            <p>
              $25.00 can buy 25 bottles of shampoo or 250 showers
            </p>
            <p>
              $25.00 can buy 7 towels and dry 21
            </p>
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3N364UEG8TAN6"></a>
					</div>
				</div>
			<!-- end portfolio section -->

			</div>
		</div>
	</section>
<!-- end Join us section -->
