<!-- About Us section -->
	<section id="our_values" >

			<!-- portfolio section -->
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
						</div>
            <p>At A Fresh Start we are proud of the work we do and those that we impact. We believe that every member of our team has a key role in ensuring that we help others, no matter what their title is.</p>
            <p>We are committed to our core values and ensuring that A Fresh Start is a place you want to work knowing you are making a difference in the lives of others.</p>
            <h3>Optimism</h3>
						<p>
							Homelessness is a deep problem in our society and helping solve it is a tough battle to fight. We must remain hopeful for the future to continue the effort to improve the lives of others and provide real and sustainable solutions.
 					  </p>
            <h3>Accountability</h3>
 						<p>
						  To provide sustainable solutions, we have to hold ourselves responsible; the changes we seek won’t happen on their own. Everyone should contribute to help their fellow man, woman, and child because this problem cannot be solved without everyone on board for the solution.
 				 		</p>
            <h3>Perseverance</h3>
 						<p>
						 As those without a home struggle to make ends meet, providing the needed resources can be a struggle in itself. AFS is dedicated to never giving up the movement. Seeing the strength displayed by so many, we can certainly give of ourselves to the cause and lift these people out of a bad situation.
						</p>

            <h3>Advocacy</h3>
            <p>
              We speak out for those who can’t often speak for themselves. Finding a safe place to sleep and food to eat consumes so much time that homeless individuals need help sharing their stories and bringing understanding to those who lack awareness. By standing up for their struggle, we encourage all to lend a helping hand to solving homelessness in any way possible.

            </p>
					</div>
				</div>
			<!-- end portfolio section -->

			</div>
		</div>
	</section>
<!-- end About Us section -->
