
<div class="container">
  <div class="row">
    <p>
      A Fresh Start is a national non-profit organization benefiting homeless men, women, and children. Today with the collaboration of universities and businesses including fortune five hundred corporations, consulting firms and many, many generous individuals, groups and organizations it is possible for AFS to be dedicated to helping the homeless through hygiene, clothing, professional development, and teaching of personal financial stability.
    </p>
  </div>
</div>
