<!-- Student Chapter section -->
  <section id="start_a_student_chapter" >
    <!-- portfolio section -->
      <div class="container">
        <div class="row">
          <div class="sec-title wow animated fadeInDown">
            <div class="text-center"><h2>Become A Part Of A Fresh Start</h2></div>
            <p>Students of A Fresh Start (SAFS) are a collection of students dedicated to bettering the lives of the homeless living in the most impoverished communities of the United States. Together we are catalysts for greater action; our mission is to inspire and create tangible results for the needy throughout the country.</p>
            <br>
            <p>Campaign Centers - Students of A Fresh Start are “Campaign Centers” for our larger organization A Fresh Start. A Campaign Center is a group of students who have chosen to abide by the Students of a Fresh Start constitution, and who have decided to work from their school to spread the campaigns on their campus and abroad. These branches are meant to be created in a way so that they are permanent beacons of hope for the homeless, whereas other organizations will only temporarily donate and support individual campaigns. Finally, a last unique aspect of a “Campaign Center” is that they are able to decide upon causes that they themselves are interested in that pertain to the homeless, and pursue them, so long as they are within the guidelines of the constitution. Campaigns from different schools are meant to work together in harmony to strengthen each other and build one another up.</p>
            <br>
            <p>A Fresh Start makes a point to get millennials involved and we know college students are eager to help their community. We are creating student chapters across the country and we want you on board!</p>
            <br>
          
          <div class="text-center"><img src="/img/support_us.jpeg" alt="We want You Picture" />
          <br><br><br>
          <a href="contact" class="btn btn-blue ">Contact Us</a>
          </div>


        </div>
      </div>
    </div>
    <!-- end portfolio section -->
  </section>
<!-- end Student Chapter section -->
