<!-- Join Us  -->
	<section id="volunteer" >

			<!-- portfolio section -->
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Become a Part of the Movement </h2>
							<p>  "We make a living by what we do, but we make a life by what we give" -  Winston Churchil</p>
						<p>
              There is no kinder act than to give your time, talent, and treasurers to those less fortunate.
              Think about volunteering at your local homeless shelter today.
						</p>
            <a href="http://www.homelessshelterdirectory.org/"></a>
					</div>
				</div>
			<!-- end portfolio section -->

			</div>
		</div>
	</section>
<!-- end Join us section -->
